.group
  h2 What is Beats Tree
  p.
    Beats tree is my final project for Interactive Arts and Computational Design
    taught by Golan Levin at CMU. The goal of this project was to adapt the idea
    of the exquisite corpse to music. The user is given four bars of music and
    can record and audio they want. Subsequent users can then add a second layer
    on top of the first audio track. More and more layers can then be added,
    however, only the previous four layers are played back at any time.
  p.
    The reason this is called beats "tree" is because users can branch off of the
    tree at any time. If they do not like certain layers in the tree, they can
    easily create a branch from any point in the tree.

.group
  h2 How can I use this?

  .group
    h3 Create a new tree
    p.
      Click on "Trees" in the navigation bar. At the bottom of the page, there will
      be a form. Enter a name for your tree and a tempo (between 60bpm and 180bpm).
      After clicking on create, you will be brought to the editor for the first
      layer. Either use the built in audio recorder, or upload a track. After the
      layer sounds how you want it to, click save. From there you can playback or
      add more layers.

  .group
    h3 I just want to record
    p.
      Great! Either browser through the trees and find a style you like or click on
      "Random" in the navigation bar. From there, either record in the browser or
      upload an audio file that is long enough (longer files will be truncated,
      shorter will have silence added to the end).

  .group
    h3 How can I listen?
    p.
      There are two ways to listen to the beat trees. You can either playback an
      entire tree, or listen to a single layer. To play back an entire tree, first
      browse to it. From here, clicking "Play" will start at the root, while
      clicking on a layer will select it, which will then allow playback to start
      from that layer. There is currently one parameter to playback, random jump
      percentage. The higher this is, the more likely that playback will jump to a
      random part of the tree. You can also listen to individual layers. To do so,
      select a layer in the tree, then click on "View". From that screen, you can
      listen to that layer on repeat.

  .group
    h4 Why does this only work in Chrome?
    p.
      Since I spent all night getting this to work for demo day. More browser
      support is coming soon.

