#create.group
  form(role='form')
    .form-group
      label.control-label(for='name') Name
      input#name.form-control(type='text', ng-model='name')
    button#create.btn.btn-success(ng-click='create()', type='submit') Create

#error

#trees.group
  label.search.control-label(for='search') Search
    input#search.form-control.col-sm-10(type='search', ng-model='query')

  ul.list-group
    li.list-group-item(ng-repeat='tree in trees | filter:query | orderBy:order_prop')
      a(href='#/tree/{{tree.id}}') {{tree.name || tree.id}}

  div(ng-if='!trees.length')
    | No trees found. Create one above!

